<div class="banner d-flex justify-content-center align-items-center"
    style="background-image:url(<%= image_url(@list.image_url) %>)">
  <div class="banner-content text-center">
    <h1 class="mb-2"><%= @list.name %></h1>
    <% if @list.movies.any? %>
      <p class="tag"><%= @list.movies.count %> movies</p>
    <% end %>
  </div>
</div>

<div class="movies-container my-4 row">
  <% if @list.movies.any? %>
    <div class="my-4">
      <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "button" %>
      <%= link_to "Delete list", list_path(@list), class: "button delete",
      data: { turbo_method: :delete, turbo_confirm: "Continue?" } %>
    </div>

    <% @list.movies.each do |movie| %>
      <div class="col-sm-12 col-md-6">
        <div class="col-12 movie-card shadow-sm">
          <div class="movie-img">
            <img src="<%= movie.poster_url%>" alt="">
          </div>
          <div class="movie-content p-3">
            <h3 class="fw-bold"><%= movie.title %> - <%= movie.rating %></h3 class="fw-bold">
            <p><%= movie.overview %></p>
          </div>
        </div>
      </div>
    <% end %>

  <% else %>
    <div class="message p-3 rounded">
      <h3>You don't have any movies in this list yet.</h3>
      <p>What about you add some?</p>
      <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "button" %>
    </div>
  <% end %>

</div>
